streamlit
pandas
numpy
matplotlib
openpyxl
xlsxwriter
imbalanced-learn
scikit-learn
lightgbm
xgboost
catboost
plotly
reportlab
requests
beautifulsoup4
fpdf
seaborn

python-dateutil

